
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.harvard--crimson {
  color: #c90016 !important;
}

.selectivity--pink {
  color: #EC4353 !important;
}

.active--pink .active,
.active--pink .irs-bar,
.active--pink .irs-bar-edge,
.active--pink .irs-slider,
.active--pink .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ec4353 !important;
  border-color: #ec4353 !important;
}

.similarity--green {
  color: #00AC9F !important;
}

.similarity--green.btn {
  background-color: #00ac9f !important;
  color: white !important;
}

.active--green .active,
.active--green .irs-bar,
.active--green .irs-bar-edge,
.active--green .irs-slider,
.active--green .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00ac9f !important;
  border-color: #00ac9f !important;
}

.library--orange {
  color: #ff9800 !important;
}

.active--orange .active,
.active--orange .irs-bar,
.active--orange .irs-bar-edge,
.active--orange .irs-slider,
.active--orange .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff9800 !important;
  border-color: #ff9800 !important;
}

.bg-orange {
  background-color: #ff9800 !important;
}

.navbar .nav-link {
  color: white !important;
  border-radius: 0 !important;
}


.navbar .active {
  background-color: #c90016 !important;
}


a[data-target] {
  cursor: pointer;
}

/* Fix display of selectize input labels without text */
.shiny-label-null {
  display: inline;
}

/* CSS for compound selector */
.compound-result {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.compound-source {
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  vertical-align: middle;
}

.chembl-source {
  background-color: rgb(9, 151, 155);
  color: rgb(255, 255, 255);
}

.hmsl-source {
  background-color: rgb(255, 205, 20);
}

.vendor-source {
  background-color: rgb(255, 149, 99);
}

.source-logo {
  height: 1em;
}

/* CSS for target selector */
.target-result {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.target-source {
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  vertical-align: middle;
}

.target-source-symbol {
  background-color: rgb(9, 151, 155);
  color: rgb(255, 255, 255);
}

.target-source-gene-id {
  background-color: rgb(255, 205, 20);
}

/* Make table padding tighter */
table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

table.dataTable thead th {
  padding: 8px 10px;
  padding-right: 18px;
}

/* Hover shadows for application links */
#link_selectivity:hover {
  filter: drop-shadow(0 0 0.5rem #EC4353);
}

#link_similarity:hover {
  filter: drop-shadow(0 0 0.5rem #00AC9F);
}

#link_library:hover {
  filter: drop-shadow(0 0 0.5rem #ff9800);
}

.contains-tooltip {
}

/* Fix height of selectize inputs */
.selectize-control .selectize-input {
  height: 100%;
}

/* Fix links of download tables in card */
.list-group .card-link + .card-link {
  margin-left: 0;
}
