<div class="ui stackable two column grid" 
     style="width: 100%; padding: 0; margin: 0;">
  <div class="six wide column">
    <div class="ui fluid raised card">
      <div class="header">
        <div class="ui secondary pointing menu">
          <div class="item" data-tab="filters-tab">Filters</div>
          <div class="active item" data-tab="instructions-tab">Instructions</div>
        </div>
      </div>
      <div class="ui content tab" data-tab="filters-tab" style="border-top: none !important;">
        <!--<h3>SelectivitySelectR</h3>-->

        <div class="description">
          <form class="ui form">
            <div class="field">
              {{ affinity }}
            </div>
            <div class="field">
              {{ stddev }}
            </div>
            <div class="field">
              {{ measurements }}
            </div>
          </form>
        </div>
      </div>
      <div class="ui content tab active" data-tab="instructions-tab">
        <div class="description">
          <p>
            To find compounds, first select your target of interest from the 
            box below. Non-human genes may be optionally included.
          </p>
          <form class="ui form">
            <div class="field">
              {{ genes }}
            </div>
            <div class="field">
              {{ include }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui fluid card">
      <div class="content">
        <div class="sub header">
          {{ graph_title }}
        </div>
        <div class="description">
          {{ graph_content }}
        </div>
      </div>
    </div>
    <div class="ui fluid card">
      <div class="content">
        <div class="sub header">
          {{ table_title }}
        </div>
        <div class="meta">
          {{ table_subtitle }}
        </div>
        <div class="description">
          {{ table_content }}
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item active" data-tab="selectivity-selection-1">
            {{ selection_title_1 }}
          </a>
          <a class="item" data-tab="selectivity-selection-2">
            {{ selection_title_2 }}
          </a>
          <a class="item" data-tab="selectivity-selection-3">
            {{ selection_title_3 }}
          </a>
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui tab active" data-tab="selectivity-selection-1">
                {{ selection_table_1 }}
            </div>
            <div class="ui tab" data-tab="selectivity-selection-2">
                {{ selection_table_2 }}
            </div>
            <div class="ui tab" data-tab="selectivity-selection-3">
                {{ selection_table_3 }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
