* {
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  width: 100% !important;
}

.harvard--crimson {
  color: #c90016 !important;
}

.selectivity--pink {
  color: #EC4353 !important;
}

.active--pink .active {
  background-color: #ec4353 !important;
  border-color: #ec4353 !important;
}

.similarity--green {
  color: #00AC9F !important;
}

.active--green .active {
  background-color: #00ac9f !important;
  border-color: #00ac9f !important;
}

.library--orange {
  color: #ff9800 !important;
}

.navbar .nav-link {
  color: white !important;
  border-radius: 0 !important;
}

.navbar .active {
  background-color: #c90016 !important;
}

.navbar .active i {
  color: white !important;  
}

table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

.dataTables_scroll {
  overflow-x: scroll;
}

.dataTables_scrollBody  {
  overflow: unset !important;
}

.dataTables_scrollHead  {
  overflow: unset !important;
  z-index: 10;
}

.dataTables_wrapper {
  overflow: hidden !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #404040;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bfbfbf;
  cursor: pointer;
}
